In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

c:\Users\hp\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_excel("body_measurements.xlsx")

In [38]:
data = pd.read_excel("body_measurements.xlsx")

In [39]:
data["Body Type"]

0               Spoon
1               Spoon
2               Spoon
3       Top Hourglass
4           Rectangle
            ...
4995        Rectangle
4996            Spoon
4997            Spoon
4998        Hourglass
4999            Spoon
Name: Body Type, Length: 5000, dtype: object

In [41]:
df["Body Type"]

0       4
1       4
2       4
3       5
4       3
       ..
4995    3
4996    4
4997    4
4998    1
4999    4
Name: Body Type, Length: 5000, dtype: int32

In [3]:
df.head(10)

   Bust (cm)  Waist (cm)  High Hip (cm)  Hip (cm)      Body Type
0         99          62            123       112          Spoon
1         90          70             80       124          Spoon
2         89          65            122        98          Spoon
3        114          77            112       103  Top Hourglass
4         86          77             93        95      Rectangle
5        119          71            115        95  Top Hourglass
6         90          69            110       123          Spoon
7        100          62            125       124          Spoon
8        108          77             92        98  Top Hourglass
9        119          64             81       106  Top Hourglass

In [15]:
df.shape

(5000, 5)

In [16]:
df.isnull().sum()

Bust (cm)        0
Waist (cm)       0
High Hip (cm)    0
Hip (cm)         0
Body Type        0
dtype: int64

In [17]:
df.describe()

        Bust (cm)   Waist (cm)  High Hip (cm)     Hip (cm)   Body Type
count  5000.00000  5000.000000    5000.000000  5000.000000  5000.00000
mean     97.69360    75.100400     104.976200   110.097600     3.73100
std      13.14074     9.021297      14.678035    14.779451     1.34989
min      75.00000    60.000000      80.000000    85.000000     0.00000
25%      86.00000    67.000000      92.000000    97.000000     3.00000
50%      98.00000    75.000000     105.000000   110.000000     4.00000
75%     109.00000    83.000000     118.000000   123.000000     4.00000
max     120.00000    90.000000     130.000000   135.000000     6.00000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bust (cm)      5000 non-null   int64
 1   Waist (cm)     5000 non-null   int64
 2   High Hip (cm)  5000 non-null   int64
 3   Hip (cm)       5000 non-null   int64
 4   Body Type      5000 non-null   int32
dtypes: int32(1), int64(4)
memory usage: 175.9 KB

In [6]:
df["Body Type"].unique()

array(['Spoon', 'Top Hourglass', 'Rectangle', 'Hourglass', 'Triangle',
       'Bottom Hourglass', 'Inverted triangle'], dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder 
l = LabelEncoder()
df["Body Type"] = l.fit_transform(df["Body Type"])

In [36]:
print(l.classes_)

['Bottom Hourglass' 'Hourglass' 'Inverted triangle' 'Rectangle' 'Spoon'
 'Top Hourglass' 'Triangle']

In [37]:
df["Body Type"].unique()

array([4, 5, 3, 1, 6, 0, 2])

In [8]:
df["Body Type"]

0       4
1       4
2       4
3       5
4       3
       ..
4995    3
4996    4
4997    4
4998    1
4999    4
Name: Body Type, Length: 5000, dtype: int32

In [10]:
X = df.drop(["Body Type"] ,axis=1)
y = df["Body Type"]

In [11]:
X.head()

   Bust (cm)  Waist (cm)  High Hip (cm)  Hip (cm)
0         99          62            123       112
1         90          70             80       124
2         89          65            122        98
3        114          77            112       103
4         86          77             93        95

In [13]:
X.shape

(5000, 4)

In [12]:
y

0       4
1       4
2       4
3       5
4       3
       ..
4995    3
4996    4
4997    4
4998    1
4999    4
Name: Body Type, Length: 5000, dtype: int32

In [14]:
y.shape

(5000,)

In [19]:
from sklearn.model_selection import train_test_split 
X_train , X_test , y_train ,y_test = train_test_split(X , y, test_size=0.2 , random_state = 42)

In [20]:
X_train.shape

(4000, 4)

In [21]:
X_test.shape

(1000, 4)

In [22]:
y_train.shape

(4000,)

In [23]:
y_test.shape

(1000,)

In [24]:
from sklearn.linear_model import LogisticRegression 
model1 = LogisticRegression()

In [25]:
model1.fit(X_train ,y_train)

c:\Users\hp\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
y_pred = model1.predict(X_test)

In [28]:
from sklearn.metrics import accuracy_score 
accuracy_score(y_pred , y_test)

0.841

In [29]:
from sklearn.tree import DecisionTreeClassifier 
model2 = DecisionTreeClassifier() 
model2.fit(X_train ,y_train)

DecisionTreeClassifier()

In [30]:
y_pred2 = model2.predict(X_test)

In [31]:
accuracy_score(y_pred2 ,y_test)

0.95

In [32]:
X_test

      Bust (cm)  Waist (cm)  High Hip (cm)  Hip (cm)
1501        105          81            108       103
2586         88          84             94       105
2653        113          86            122        91
1055         76          63            115        89
705         111          73            120       114
...         ...         ...            ...       ...
4711        110          83            129       104
2313         88          77            109       126
3214         75          75             89        95
2732        110          68            100        96
1926        102          88            119       118

[1000 rows x 4 columns]

In [45]:
y_test

1501    1
2586    6
2653    5
1055    4
705     1
       ..
4711    5
2313    4
3214    6
2732    5
1926    4
Name: Body Type, Length: 1000, dtype: int32

In [46]:
def predict_bodytype(row):
    types= ['Bottom Hourglass' ,'Hourglass' ,'Inverted triangle' ,'Rectangle' ,'Spoon','Top Hourglass' ,'Triangle']
    y_pred = model2.predict(row)
    print(types[int(y_pred)])
    

predict_bodytype([[33,29,35,37]])

Spoon

c:\Users\hp\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [47]:
import joblib 
joblib.dump(model2 , 'bosytypemodel.joblib')

['bosytypemodel.joblib']

In [48]:
t = joblib.load('bodytypemodel.joblib')

In [49]:
pred = t.predict(X_test)
accuracy_score(pred , y_test)

0.95